
.container-AprobacionHorasExtras {
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}


h1, h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}


#select-empleado {
    padding: 10px;
    width: 30%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/* Estilos para el botón de selección */
#select-extras {
    padding: 10px 15px;
    border: none;
    background-color: #9fc131;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#select-extras:hover {
    background-color: #bdf227;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilos para las cabeceras de la tabla */
thead th {
    background-color: #005c53;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Estilos para las celdas de la tabla */
tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}



/* Estilos para los botones */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el botón de aprobar */
.approve-extra {
    background-color: #9fc131;
    color: white;
}

/* Estilos para el botón de rechazar */
.reject-extra {
    background-color: #ff0000;
    color: white;
}

/* Estilos para los botones en hover */
button:hover {
    opacity: 0.8;
}

/* Estilos para la sección de motivo */
#motivo-section {
    margin-top: 20px;
}

#motivo {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Estilos para el botón de enviar */
#submit-decision {
    padding: 10px 15px;
    border: none;
    background-color: #9fc131;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#submit-decision:hover {
    background-color: #bdf227;
}
