body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.container-AprobacionHorasExtras {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container-AprobacionHorasExtras h1, .container-AprobacionHorasExtras h2 {
    text-align: center;
    color: #020202;
}

select, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #9fc131;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #bdf227;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button.approve-extra {
    background-color: #4CAF50;
}

button.reject-extra {
    background-color: #f44336;
}

#motivo-section {
    margin-top: 20px;
}

#motivo {
    height: 100px;
}
