.Contenido-Extras{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.container-Caluladora-Extras {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.container-Caluladora-Extras h1 {
    margin-bottom: 20px;
}

.container-Caluladora-Extras label {
    display: block;
    margin-bottom: 5px;
}

.container-Caluladora-Extras input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-Caluladora-Extras button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.container-Caluladora-Extras button:hover {
    background-color: #45a049;
}

.resultado {
    margin-top: 20px;
}

.footer-Calc-Extras{
    margin: 0;
}