body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 31%;
    margin: 20px auto;
    padding: 20px;
    background-color: white; 
    border-radius: 8px; 

}

h1, h2, h4 {
    text-align: center;
    color: #000; 
}

ul {
    list-style-type: none; 
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-calcularA, .btn-eliminarA, .btn-GuardarA {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #9fc131;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-eliminarA {
    background-color: #f44336;
}

.btn-calcularA:hover, .btn-eliminarA:hover, .btn-GuardarA:hover {
    opacity: 0.8;
    color: #000;
}

#resultadoAguinaldo {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

.SalarioEspecieContainer {
    margin-top: 20px;
}

.SalarioEspecieContainer h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.SalarioEspecieContainer h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

.salarioEspecieRadio {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .col-lg-6 {
        width: 50%;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .col-xs-12 {
        width: 100%;
        padding: 0 10px;
    }
}

.meses-container {
    display: flex;
    justify-content: space-between;
}

.columna {
    flex: 0 0 48%;
}

/* Estilo para botones deshabilitados */
.btn-calcularA:disabled, .btn-eliminarA:disabled, .btn-GuardarA:disabled {
    background-color: #ddd; /* Gris claro para botones deshabilitados */
    cursor: not-allowed; /* Cursor no permitido */
    opacity: 0.6; /* Opacidad reducida para indicar deshabilitado */
}
