/* Reset de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005c53;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilos del contenedor del navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilos del logo */
.navbar-brand img {
    border-radius: 5px;
}

/* Estilos de los enlaces siempre visibles */
.navbar-links-left {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links-left .nav-item {
    margin-right: 20px;
}

.navbar-links-left .nav-link {
    text-decoration: none;
    font-size: 16px;
}

/* Estilos del botón de menú */
.hamburger-menu {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border: 2.5px solid #9fc13152;
    border-radius: 7px;
    padding: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 10px;
}

.hamburger-menu:hover {
    background-color: #9fc13152;
}

/* Estilos del menú desplegable */
.navbar-links {
    font-size: 16px;
    font-weight: 200;
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0px;
    background-color: #003b36;
    z-index: 999;
    border-radius: 5px;
    transition: height 0.3s;
    width: auto;
    height: auto;
}

/* Estilos de la lista de elementos del menú */
.navbar-links ul {
    list-style: none;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

/* Estilos de los elementos de la lista */
.navbar-links ul li {
    text-align: center;
    padding: 10px;
}

/* Estilos de los enlaces en la lista */
.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    text-align: center;
}

/* Estilos al pasar el mouse sobre los enlaces */
.navbar-links ul li a:hover {
    color: #fff;
    background-color: #015e569c;
    border-radius: 5px;
}

/* Estilos del menú desplegable del elemento de menú */
.nav-item.dropdown .dropdown-menu {
    display: none;
    position: relative;
    background-color: #9fc13152;
    border: none;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* Mostrar el menú desplegable cuando se pasa el mouse sobre el elemento de menú */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    max-height: 5000px; /* Aumenta el valor para permitir más elementos visibles */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #003b36;
        position: absolute;
        z-index: 999;
    }

    .navbar-links ul {
        width: 100%;
    }

    .navbar-links ul li {
        padding: 10px 0;
    }

    .navbar-links.expanded {
        display: flex;
    }

    .nav-item.dropdown .dropdown-menu {
        position: relative;
        margin-top: 0;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        max-height: 5000px; /* Aumenta el valor para permitir más elementos visibles */
        margin-top: 0;
    }

    .navbar-links-left {
        display: none;
    }
}
