body {
    font-family: Arial, sans-serif;
    /*background-color: #f0f0f0;*/
}

.container-HorasExtras {
    max-width: 600px;
    /*margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
