

h1.titulo-listaEmpleados {
    text-align: center;
    margin: 20px 0;
}

.container-tablapagoaguinaldo {
    margin: 120px 250px 318px 250px;
    text-align: center;
}

select#select-empleado {
    padding: 10px;
    margin: 0 10px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #ccc;
}

button#select-aguinaldo {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9fc131;
    color: white;
    border: none;
    border-radius: 4px;
}

button#select-aguinaldo:hover {
    background-color: #bdf227;
    color: black;
}

table#tabla-aguinaldo {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table#tabla-aguinaldo th, table#tabla-aguinaldo td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table#tabla-aguinaldo th {
    background-color: #004d40;
    color: white;
    text-align: center;
}

table#tabla-aguinaldo tr:nth-child(even) {
    background-color: #f9f9f9;
}

table#tabla-aguinaldo tr:hover {
    background-color: #f1f1f1;
}

table#tabla-aguinaldo td {
    text-align: center;
}